.add-form {
  margin-right: 10px; 
}

.add-form-container {
  color: #C8C4BD;
}

.add-form-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-form > textarea {
  width: 100%;
  resize: none;
}

.add-form-text {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.add-form-text:hover {
  color: white;
  background-color: #1D2124;
  cursor: pointer;
}

.add-form-cancel {
  display: inline;
  padding: 5px;
}

.add-form-cancel:hover {
  background-color: #1D2124;
  cursor: pointer;
  color: white;
}

.add-form-submit {
  padding: 0.5rem;
  margin-right: 10px;
}

#nav-boards > .add-form-container {
  margin-bottom: 20px;
}

#nav-boards > .add-form-container > .add-form-text {
  font-size: 1rem;
}

.board-columns-container > .add-form-container {
  height: min-content;
  min-width: 272px;
  border-radius: 5px;
}

.board-columns-container > .add-form-container > .add-form-text {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(33, 37, 41, 30%);
  border-radius: 5px;
}

.board-columns-container > .add-form-container > .add-form-text:hover {
  color: white;
  background-color: rgba(33, 37, 41, 70%);
}

.board-columns-container > .add-form-container > .add-form {
  padding: 20px;
  border-radius: 5px;
  background-color: #1D2124;
}
