.board-columns-container {
  display: flex;
}

.board-columns {
  color: #C8C4BD;
  display: flex;
}

.handle {
  background-color: #212529;
  border: 1px solid #111315;
  border-radius: 5px;
}

.column {
  width: 272px;
  height: min-content;
  padding: 10px 0 10px 10px;
  background-color: #212529;
  margin-right: 20px;
  border-radius: 5px;
}

.column-title {
  font-size: 1.1rem;
  display: inline;
}

.column-title:hover {
  cursor: pointer;
}

.column-destroy {
  display: none;
  float: right;
  width: min-content;
  background-color: #212529;
}

.column-destroy:hover {
  cursor: pointer;
}

.handle:hover {
  cursor: pointer;
}

.handle:hover .column-destroy {
  display: block;
}

.column-tickets {
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.column-item {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.ticket {
  display: flex;
  background-color: #111315;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.ticket-description {
  flex-grow: 1;
}

.ticket:last-child {
  margin-bottom: 0;
}

.ticket:hover {
  cursor: pointer;
}

.ticket-destroy {
  display: none;
  width: min-content;
}

.ticket:hover .ticket-destroy {
  display: block;
}

.ticket-destroy:hover {
  cursor: pointer;
}
