.board-columns-container {
  display: flex;
}

.board-columns {
  color: #C8C4BD;
  display: flex;
}

.handle {
  background-color: #212529;
  border: 1px solid #111315;
  border-radius: 5px;
}

.column {
  width: 272px;
  height: min-content;
  padding: 10px;
  background-color: #212529;
  margin-right: 20px;
  border-radius: 5px;
}

.column-title {
  font-size: 1.1rem;
  display: inline;
}

.column-destroy {
  float: right;
  width: min-content;
  background-color: #212529;
}

.column-tickets {
  padding: 1rem 0;
}

.column-item {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.ticket {
  text-align: center;
  background-color: #111315;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.ticket:last-child {
  margin-bottom: 0;
}
