.board-columns-container {
  display: flex;
}

.board-columns {
  display: flex;
}

.handle {
  background-color: aqua;
  border: 3px solid black;
}

.column {
  width: 272px;
  height: min-content;
  padding: 10px;
  background-color: black;
  margin-right: 20px;
}

.column-title {
  display: inline;
}

.column-destroy {
  float: right;
  width: min-content;
  background-color: white;
}

.column-tickets {
  padding: 1rem 0;
}

.column-item {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.ticket {
  text-align: center;
  background-color: red;
  border: 3px solid black;
}
