/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#home {
  margin-top: 75px;
  margin-left: 50px;
}

.greeting-header {
  font-size: 3rem;
}

.greeting {
  font-size: 1.5rem;
}

@-webkit-keyframes shake {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  90% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

@keyframes shake {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  90% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

.arrow {
  position: relative;
  margin-top: 5rem;
  width: 15rem;
  height: 15rem;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-bottom-right-radius: 90%;
  -webkit-animation: 0.8s shake 2;
          animation: 0.8s shake 2
}

.arrow-tip {
  position: absolute;
  bottom: -1.5rem;
  left: 0rem;
  width: 3rem;
  height: 3rem;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  background: -o-linear-gradient(135deg, black 50%, transparent 50%);
  background: linear-gradient(-45deg, black 50%, transparent 50%);
}

#asdf {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
