.invite-button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-right: 120px;
  min-width: 70px;
}

.sent-invite {
  background-color: #68B856 !important;
}

.invite-form-buttons {
  margin-left: 10px;
  display: inline;
}

.invite-form-buttons > * {
  padding: 0.3rem;
  margin-right: 5px;
}
