/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#dashboard {
  position: relative;
}

#nav-header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 100vw;
}

#nav-header > *:nth-child(n + 2) {
  margin-left: 1rem;
}

.sign-out-button {
  z-index: 9999;
  position: fixed;
  top: 29px;
  right: 20px;
  cursor: pointer;
}

.sign-out-button > a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  background-color: #023e8a;
  border-radius: 5px;
}
