#nav-sidebar {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #212529;
  color: #C8C4BD;
  opacity: 50%;
  transform: translateX(-280px);
  transition: transform 0.15s ease-in-out, opacity 0.15s linear;
  z-index: 9999;
}

#nav-boards {
  width: 100%;
  height: 99vh;
  padding-top: 5rem;
  overflow-y: auto;
}

#nav-toggle-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: -25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 50%);
  transition: background-color 0.15s linear;
  cursor: pointer;
}

#nav-toggle-inner {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
}

#nav-toggle-inner:hover {
  color: white;
  cursor: pointer;
}

#nav-peek {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 100vh;
  cursor: pointer;
}

#nav-sidebar:hover {
  opacity: 80%;
}

#nav-sidebar:hover #nav-toggle-outer {
  background-color: rgba(0, 0, 0, 100%);
}

.nav-board-header {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #A1988C
}

.board-item {
  display: flex;
  margin-right: 25px;
  margin-bottom: 5px;
}

.board-item:hover {
  color: white;
}

.board-destroy,
.board-leave {
  color: #C8C4BD;
  display: none;
  cursor: pointer;
}

.board-destroy:hover,
.board-leave:hover {
  color: white;
}

.board-item:hover .board-destroy,
.board-item:hover .board-leave {
  margin-left: 10px;
  display: block;
}

.user-board-link,
.invited-board-link {
  flex-grow: 1;
}

#user-boards, 
#invited-boards {
  overflow-x: hidden;
  word-break: break-word;
}

.user-board-link:hover,
.invited-board-link:hover {
  cursor: pointer;
  color: white;
}

.nav-sidebar-open {
  transform: translateX(0) !important;
  opacity: 100% !important;
  background-color: rgba(33, 37, 41, 98%) !important;
}

.empty-invited-boards {
  font-style: italic;
  margin-left: 1rem;
}
